.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
	height: 12%;
	margin: 0 auto;
	position: relative;
	//border: 1px solid red;
	top: 35px;
	gap: 20px;
//	padding: 1% 0%;

	@include tabletPro {
		//border: 1px solid green;
		top: 50px;
		gap: 50px;
	}

	@include phoneMini {
		top: 60px;
	}

	.footer__heading {
		color: var(--white);
		position: relative;
		font-size: 16px;
		font-weight: 400;
		font-family: 'Play';
		margin-bottom: 8px;
		line-height: 18.51px;
		float: left;
		left: -30%;
		top: 10px;
		//border: 1px solid yellow;

		@include tabletPro {
			left: -20%;
		}

		@include tabletMini {
			left: -15%;
		}

		@include phonePro {
			left: 0%;
			font-size: 13px;
			text-align: center;
		}

	}
	
	.footer__heading-number {
		color: yellow;
	}
	
	.footer__subheading {
		color: var(--gray);
		font-size: 16px;
		font-weight: 700;
		font-family: 'Play';
		line-height: 18.51px;
		position: relative;
		left: 10%;
		top: 10px;
		transform: translate(-50%, -50%);
		//border: 1px solid yellow;

		@include tabletPro {
			left: 20%;
		}

		@include phonePro {
			left: 40%;
			font-size: 13px;
		}

		@include phoneMini {
			left: 50%;
			
		}
	
		span {
			font-weight: 400;
		}
	}
	
	.footer__container {
		margin: auto;
		position: relative;
	
		@media (max-width: 1440px) {
			width: 1200px;
		}
	}
}

.flip-footer {
	//border: 1px solid white;
	top: 180px;
}
