.overflow-hidden {
	overflow: hidden;
}

.text-center {
	text-align: center;
}

.m-0 {
	margin: 0;
}

.ml-10 {
	margin-left: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.mt-60 {
	margin-top: 60px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-0 {
	margin-top: 0 !important;
}

.fw-bold {
	font-weight: bold;
}

.bg-transparent {
	background: transparent;
}
.mx-auto {
	margin-right: auto;
	margin-left: auto;
}

.rotate {
	animation: rotate 1.5s ease-in infinite;
}

.position-b-r {
	position: absolute;
	right: 0;
	bottom: 0;
}

.text-success {
	color: #52ff00;
}

.text-alert {
	color: #d40000;
}

.h-100 {
	height: 140px;
}

//Declaring the various breakpoints
$breakpoints: (
  "phoneMini": 0px,
  "phone": 300px,
  "phonePro": 400px,
  "tabletMini": 600px,
  "tablet": 800px,
  "tabletPro": 1000px,
  "desktop": 1200px,
);

@mixin phoneMini {
  @media only screen and (min-width: map-get($breakpoints, "phoneMini")) and (max-width: map-get($breakpoints, "phone")) {
    @content;
  }
}

@mixin phone {
  @media only screen and (min-width: map-get($breakpoints, "phoneMini")) and (max-width: map-get($breakpoints, "phonePro")) {
    @content;
  }
}

@mixin phonePro {
  @media only screen and (min-width: map-get($breakpoints, "phoneMini")) and (max-width: map-get($breakpoints, "tabletMini")) {
    @content;
  }
}

@mixin tabletMini {
  @media only screen and (min-width: map-get($breakpoints, "tabletMini")) and (max-width: map-get($breakpoints, "tablet")){
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: map-get($breakpoints, "tabletMini")) and (max-width: map-get($breakpoints, "tabletPro")){
    @content;
  }
}

@mixin tabletPro {
  @media only screen and (min-width: map-get($breakpoints, "tabletMini")) and (max-width: map-get($breakpoints, "desktop")){
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, "desktop")) {
    @content;
  }
}

@mixin breakpoint($min: 0, $max: 0) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}
